extends ../layout

block content
  .container
    .row
      .card-panel.white.z-depth-3
        form(action="", method="post")
          .input-field
            input(type="text", name="title", id="title")
            label(for="title") Title
          .input-field
            textarea.materialize-textarea(name="text")
            label(for="text") Content
          .right-align
            button.btn-flat.yellow.waves-effect(type="submit") Создать

        