extends layout

block content
	.container
		.row
			each post in posts
				.card-panel.z-depth-2
					h3.center-align #{post.title}
					p #{post.text}
					div.right-align
						a.btn-flat.waves-effect.waves-yellow.yellow.lighten-4 Подробнее